sudo: required
dist: trusty
language: java
jdk:
    - openjdk8
    - oraclejdk8
    - oraclejdk9
matrix:
    exclude:
    # Exclude 18.0.0.3 with Java 9
    - jdk: oraclejdk9
      env: RUNTIME=ol RUNTIME_VERSION=18.0.0.3 BUILD_TOOL=maven
    - jdk: oraclejdk9
      env: RUNTIME=ol RUNTIME_VERSION=18.0.0.3 BUILD_TOOL=gradle
    - jdk: oraclejdk9
      env: RUNTIME=wlp RUNTIME_VERSION=18.0.0.3 BUILD_TOOL=maven
    - jdk: oraclejdk9
      env: RUNTIME=wlp RUNTIME_VERSION=18.0.0.3 BUILD_TOOL=gradle
env:
    - RUNTIME=ol RUNTIME_VERSION=18.0.0.3 BUILD_TOOL=maven
#    - RUNTIME=ol RUNTIME_VERSION=18.0.0.4 BUILD_TOOL=maven
    - RUNTIME=wlp RUNTIME_VERSION=18.0.0.3 BUILD_TOOL=maven
#    - RUNTIME=wlp RUNTIME_VERSION=18.0.0.4 BUILD_TOOL=maven
    - RUNTIME=ol RUNTIME_VERSION=18.0.0.3 BUILD_TOOL=gradle
#    - RUNTIME=ol RUNTIME_VERSION=18.0.0.4 BUILD_TOOL=gradle
    - RUNTIME=wlp RUNTIME_VERSION=18.0.0.3 BUILD_TOOL=gradle
#    - RUNTIME=wlp RUNTIME_VERSION=18.0.0.4 BUILD_TOOL=gradle
cache:
    directories:
        - $HOME/.m2
services:
    - docker
before_install:
     - echo "Deleting old .m2 artifacts..."
     - rm -rf $HOME/.m2/repository/net/wasdev
     - rm -rf $HOME/.m2/repository/io/openliberty
     - docker run -d -p 5000:5000 --restart=always --name registry registry:2
install: true
script:
    - cd boost-common
    - mvn install -Dinvoker.streamLogs=true
    - cd ../boost-maven
    - mvn install -Dinvoker.streamLogs=true
    - cd ..
    - |
      if [ "$BUILD_TOOL" = "maven" ]; then
          export CD_COMMAND="cd boost-maven";
          export TEST_COMMAND="mvn install -Pit -Dinvoker.streamLogs=true -Druntime=$RUNTIME -DruntimeVersion=$RUNTIME_VERSION";
      else
          export CD_COMMAND="cd boost-gradle";
          export TEST_COMMAND="./gradlew install check -Druntime=$RUNTIME -DruntimeVersion=$RUNTIME_VERSION --stacktrace --info --no-daemon";
      fi;
    - ./travis.sh
